-if current_user
h1= current_user.name

p You have been a member since #{current_user.created_at}
p You have made #{current_user.posts.count} posts
p You have made #{current_user.comments.count} comments
